---
import Layout from "../layouts/Layout.astro";
import images from "../images";
import ServicePageItem from "../components/services/ServicePageItem.astro";
import PresentationBanner from "../components/services/PresentationBanner.astro";
import Introduction from "../components/services/Introduction.astro";

const concreteData = [
  {
    title: "Concrete Repair",
    image: images.concrete.src,
    description:
      "Expert restoration services for damaged concrete structures, ensuring durability and safety.",
  },

  {
    title: "Driveways",
    image: images.driveway.src,
    description:
      "Installation and maintenance of durable concrete surfaces for residential or commercial vehicle access.",
  },

  {
    title: "Sidewalks",
    image: images.sidewalk.src,
    description:
      "Construction and upkeep of safe pedestrian walkways made from concrete",
  },

  {
    title: "Decks",
    image: images.decks.src,
    description:
      "Custom construction of stylish outdoor living spaces using durable concrete materials.",
  },
];

const remoelationData = [
  {
    title: "Kitchen Renovation",
    description:
      "Elevate your kitchen with expert craftsmanship and contemporary design.",
    image: images.kitchen.src,
  },

  {
    title: "Full Renovation",
    description:
      "Transform your space with comprehensive renovation solutions tailored to your preferences.",
    image: images.frenovation.src,
  },
  {
    title: "Home Additions",
    description:
      "Expand your living area seamlessly with expertly crafted home additions.",
    image: images.aditions.src,
  },
  {
    title: "Expansions",
    description:
      "Enhance your home's capacity and functionality with seamless expansion solutions.",
    image: images.expansions.src,
  },
];
---

<script>
  function scrollToSection(sectionId) {
    var section = document.getElementById(sectionId);
    if (sectionId && section) {
      window.scrollTo({
        top: section.offsetTop - 100,
        behavior: "smooth",
      });
    }
  }

  const initialize = () => {
    const urlParams = new URLSearchParams(window.location.search);
    const option = urlParams.get("option");

    if (option) {
      scrollToSection(option);
    }
  };

  initialize();
</script>
<Layout>
  <main class="servicesPage">
    <PresentationBanner />

    <Introduction />

    <div class="serviceSection">
      <h1>Concrete Work</h1>
      <div class="servicesContainer">
        {
          concreteData.map((service, index) => (
            <ServicePageItem
              title={service.title}
              image={service.image}
              key={index}
            >
              {service.description}
            </ServicePageItem>
          ))
        }
      </div>
    </div>

    <div class="serviceSection">
      <h1>Full Remodeling</h1>
      <div class="servicesContainer">
        {
          remoelationData.map((service, index) => (
            <ServicePageItem
              title={service.title}
              image={service.image}
              key={index}
            >
              {service.description}
            </ServicePageItem>
          ))
        }
      </div>
    </div>
  </main>
</Layout>

<style>
  .servicesPage {
    background-color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 250px 250px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }

  .serviceSection {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    /* background-color: red; */
  }

  .serviceSection h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    font-weight: 200;
    text-align: center;
  }
  .servicesContainer {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  @media screen and (max-width: 1180px) {
    .serviceSection .servicesContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: center;
      justify-items: center;
    }
  }

  @media (max-width: 1000px) {
    .servicesPage {
      padding: 10px;
    }
  }

  @media (max-width: 500px) {
    .serviceSection .servicesContainer {
      grid-template-columns: 1fr;
    }
  }
  
</style>
