---
import { Image } from "astro:assets";
import images from "../../../public/images";
---

<div class={`imageContent principal`}>
  <picture>
    <source
      srcset={images.imagePresentation1Medium.src}
      media="(max-width: 1050px)"
      type="image/webp"
    />
    <source
      srcset={images.imagePresentation1Small.src}
      media="(max-width: 500px)"
      type="image/webp"
    />

    <Image
      src={images.imagePresentation1}
      alt="Presentation 1"
      class="background-image image1"
      loading="eager"
      width={1200}
      height={1000}
    />
  </picture>

  <picture>
    <source
      srcset={images.imagePresentation2Medium.src}
      media="(max-width: 1050px)"
      type="image/webp"
    />
    <Image
      src={images.imagePresentation2}
      alt="Presentation 2"
      class="background-image image2"
      width={1200}
      height={1000}
    />

    <source
      srcset={images.imagePresentation2Small.src}
      media="(max-width: 500px)"
      type="image/webp"
    />
  </picture>
  <h3>Committed to your project</h3>
</div>

<style>
  .imageContent {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
      opacity 1s ease-in-out,
      transform 9s ease-in-out;
    z-index: 1;
  }

  .image1 {
    opacity: 1;
    animation: changeToImage1 18s infinite;
  }

  .image2 {
    opacity: 0;
    animation: changeToImage2 18s infinite;
  }

  .imageContent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
    animation: flashSequence 9s infinite;
  }

  .imageContent h3 {
    color: var(--white);
    position: relative;
    z-index: 10000;
    font-family: "Gotham", sans-serif;
    font-size: 64px;
  }

  @keyframes changeToImage1 {
    0%,
    49.99% {
      opacity: 1;
      transform: scale(1);
    }
    50%,
    100% {
      opacity: 0;
      transform: scale(1.08);
    }
  }

  @keyframes changeToImage2 {
    0%,
    49.99% {
      opacity: 0;
      transform: scale(1.08);
    }
    50%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes flashSequence {
    0% {
      background-color: rgba(255, 255, 255, 0.5);
    }
    20%,
    100% {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  @media (max-width: 1200px) {
    .imageContent h3 {
      font-size: 3rem;
    }
  }

  @media (max-width: 1050px) {
    .imageContent {
      height: 77vh !important;
    }
    .imageContent h3 {
      font-size: 2.2rem;
      text-align: center;
    }
  }

  @media (max-width: 800px) {
    .background-image {
      animation: none;
      transition: none;
    }
    .imageContent::before {
      animation: none;
    }
    .imageContent h3 {
      font-size: 2rem;
    }
  }

  @media (max-width: 600px) {
    .imageContent h3 {
      font-size: 2rem;
    }
  }

  @media (max-width: 450px) {
    .imageContent {
      padding: 10px;
    }
    .imageContent h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
</style>
